{{! Templates

Link
==============
<li class="drawer-list-item">
  <a href="#" title="Follow me on twitter!">
    <i class="fa fa-twitter"></i> Follow me
  </a>
</li>

Divider
==============
<li class="drawer-list-divider"></li>

Title
==============
<li class="drawer-list-item drawer-list-title">
  Follow me
</li>

ProTip:
==============
Ghostium uses Font Awesome you can find all icons available on the url below
  http://fortawesome.github.io/Font-Awesome/cheatsheet/

}}

<li class="drawer-list-item">
  <a href="/" data-pjax>
    <i class="fa fa-home"></i>
    Home
  </a>
</li>

<li class="drawer-list-item">
  <a href="http://stevelacey.net" data-pjax>
    <i class="fa fa-globe"></i>
    Steve
  </a>
</li>

<li class="drawer-list-item">
  <a href="{{@blog.url}}/rss">
    <i class="fa fa-rss"></i>
    Subscribe
  </a>
</li>

<li class="drawer-list-divider"></li>

<li class="drawer-list-item drawer-list-title">
  Follow me
</li>

<li class="drawer-list-item">
  <a href="https://twitter.com/stevelacey">
    <i class="fa fa-twitter"></i>
    Twitter
  </a>
</li>

<li class="drawer-list-item">
  <a href="https://github.com/stevelacey">
    <i class="fa fa-github"></i>
    Github
  </a>
</li>

<li class="drawer-list-item">
  <a href="https://stackoverflow.com/users/160821/steve">
    <i class="fa fa-stack-overflow"></i>
    Stack Overflow
  </a>
</li>

<li class="drawer-list-item">
  <a href="https://plus.google.com/111108792366005180456">
    <i class="fa fa-google-plus"></i>
    Google+
  </a>
</li>

<li class="drawer-list-item">
  <a href="https://pinboard.in/u:stevelacey">
    <i class="fa fa-thumb-tack"></i>
    Pinboard
  </a>
</li>
